{% block content %}

	{% include "masthead" %}

	<!--main-->
	<section>
		<div class="row">
	      
      <!--left-->
      {% include "sidebar_v2" %}
      
			<!--right-->
			<div class="col-md-9 main-content">
				
				{% include "section-chart" %}
				<hr>

				{% include "footer_enroll" %}

			</div>

	  </div><!--/row-->
	</section><!--/section-->

{% endblock %}