{% block content %}

	{% include "masthead" %}

	<!--main-->
	<section>
		<div class="row">
	      
      <!--left-->
      {% include "sidebar_v2" %}
      
			<!--right-->
			{% comment %}
			{% include "content" %}
			{% endcomment %}

			<div class="col-md-9">
				
				{% include "section-data" %}
			  

			  {% include "section-summary" %}
			  <hr>

			  {% include "footer" %}

			</div>

	  </div><!--/row-->
	</section><!--/section-->

{% endblock %}