<div class="col-md-3 hidden-xs" id="leftCol">
  <!--left-->
  <div class="col-md-3" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
      <li>
        <a href="#sec0">Overview</a>
      </li>
      <li>
        <a href="#sec1">Gap Calculator</a>
      </li>
      <li>
        <a href="#sec2">Your Coverage Options</a>
      </li>
      <li>
        <a href="#sec3">Sample Policy</a>
      </li>
      <li>
        <a href="#sec4">FAQ</a>
      </li>
      <li>
        <a href="#">Enroll Now</a>
      </li>
    </ul>
  </div>
</div>