<div class="col-md-9">  

	{% include "section-data" %}
  <hr>

  {% include "section-summary" %}  
  <hr>

  {% include "section-calculator" %}
  <hr>

  {% include "section-chart" %}
  <hr>
    
  {% include "section-policy" %}
  <hr>
  
  {% include "section-faq" %}

</div>