<div id="footer" class="panel panel-primary">
  <div class="panel-heading footer-panel-heading">
    <h3 class="panel-title text-center" style="font-size:22px;">Learn More</h3>
  </div>
  <div class="panel-body panel-footer">
    <div class="col-sm-4">
        <div class="panel-container">
            <p>Keep Researching</p>

            <select name="footer-nav" id="footer-nav" class="col-sm-12">
                <option value="">Select A Category</option>
                <option value="index.html">Overview</option>
                <option value="gap-calculator.html">Income Gap Calculator</option>
                <option value="coverage-options.html">Coverage Options</option>
                <option value="sample-policy.html">Sample Policy</option>
                <option value="faq.html">FAQ</option>
            </select>
        </div>
    </div>
    <div class="col-sm-8">
        <p class="text-center">Proceed to:</p>

        <div class="col-md-12"><button id="waive-footer" name="singlebutton" class="btn btn-block btn-lg btn-success">Your Coverage Options</button></div>

        

    </div>
  </div>
</div>