<div id="footer" class="panel panel-primary">
  <div class="panel-heading footer-panel-heading">
    <h3 class="panel-title text-center" style="font-size:22px;">Ready to Enroll?</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-4">
    	<div class="panel-container">
    		<p>Keep Researching</p>

    		<select name="footer-nav" id="footer-nav" class="col-sm-12">
    			<option value="">Select A Category</option>
    			<option value="index.html">Overview</option>
    			<option value="gap-calculator.html">Income Gap Calculator</option>
    			<option value="coverage-options.html">Coverage Options</option>
    			<option value="sample-policy.html">Sample Policy</option>
    			<option value="faq.html">FAQ</option>
    		</select>
    	</div>
    </div>
    <div class="col-sm-8">
    	<p class="text-center">Decide Now</p>

        <div class="col-md-6"><button id="waive-footer" name="singlebutton" class="btn btn-block btn-lg btn-danger">Waive Coverage</button></div>

    	<div class="col-md-6"><button id="enroll-footer" name="singlebutton" class="btn btn-block btn-lg btn-success">Enroll Now</button></div>

    	

    </div>
  </div>
</div>