<div class="row">
	
	<!-- Controls -->
	<div id="canvas-controls" class="col-xs-12">
		<div class="row">
			<!-- <div class="col-md-3">
				<h3 class="no-margin" style="line-height:34px;">click to view:</h3>
			</div> -->
			<div id="chartControls" class="col-md-12">
				<div class="col-md-4">
					<button id="update-0" class="btn btn-primary btn-lg btn-block active">Fully Employed</button>
				</div>
				<div class="col-md-4">
					<button id="update-1" class="btn btn-primary btn-lg btn-block">If Disabled</button>
				</div>
				<div class="col-md-4">
					<button id="update-2" class="btn btn-primary btn-lg btn-block">With Lloyd's Coverage</button>
				</div>
			</div>
		</div>    
	</div>

	<!-- Pie Chart -->
	<div class="col-xs-12 col-md-6">
		<div id="canvas-holder">
		    <canvas id="chart-area" width="300" height="300">Your browser does not support the HTML5 canvas tag.</canvas>
		</div>
		<div id="chartjs-tooltip"></div>
	</div>

	<!-- Description Half -->
	<div id="chartDesc" class="col-xs-12 col-md-6 well">
		<div id="pieTextOne">
			<h4>Fully Employed</h4>
			<p>For most wage earners, your total compensation is more than just your base salary. Bonus or incentive pay, K-1 proceeds and retirement all combine, along with your salary, to maintain the life you’ve built for yourself and your family. </p>
		</div>
		<div id="pieTextTwo">
			<h4>If Disabled</h4> 
			<p>In the event of a disability, your potential loss of income could be substantial. People usually dip into their retirement, savings and other assets to fill the cash flow gap. This approach can provide short-term lifestyle support, but depleted assets and retirement funds cause long-term consequences.</p>
		</div>
		<div id="pieTextThree">
			<h4>With Lloyd's Coverage</h4>
			<p>Lloyd’s Income Protection Plan can offer a single lump sum of up to $2,000,000 to protect not only your current lifestyle but also your future plans against the impact of a career-ending disability—meaning you can preserve your long-term assets for retirement, savings and investments</p>. 
		</div>
	</div>

	<!-- Legend Half -->
	<div class="col-xs-12 col-md-6 well no-margin">
		<h4 class="text-center">LEGEND</h4>
		<div id="pieLegend"></div>
	</div>
	
	<!-- Legend Full -->
	<!-- <div class="col-xs-12 well">
		<h4 class="text-center">LEGEND</h4>
		<div id="pieLegend"></div>
	</div> -->

	<!-- Description Full -->
	<!-- <div id="chartDesc" class="col-xs-12">
		<div id="pieTextOne">
			<h4>Fully Employed</h4>
			<p>For most wage earners, your total compensation is more than just your base salary. Bonus or incentive pay, K-1 proceeds and retirement all combine, along with your salary, to maintain the life you’ve built for yourself and your family. </p>
		</div>
		<div id="pieTextTwo">
			<h4>If Disabled</h4> 
			<p>In the event of a disability, your potential loss of income could be substantial. People usually dip into their retirement, savings and other assets to fill the cash flow gap. This approach can provide short-term lifestyle support, but depleted assets and retirement funds cause long-term consequences.</p>
		</div>
		<div id="pieTextThree">
			<h4>With Lloyd's Coverage</h4>
			<p>Lloyd’s Income Protection Plan can offer a single lump sum of up to $2,000,000 to protect not only your current lifestyle but also your future plans against the impact of a career-ending disability—meaning you can preserve your long-term assets for retirement, savings and investments</p>. 
		</div>
	</div> -->

	<!-- Call To Action -->
	<div class="clearfix"></div>
	<div style="margin: 30px 0;">
	  <div class="col-xs-6">
	    <button type="button" class="btn btn-success btn-lg btn-block">Enroll Now</button>
	  </div>
	  <div class="col-xs-6">
	    <button type="button" class="btn btn-danger btn-lg btn-block">No Thanks</button>
	    <small>By clicking this button, you’re waiving the income protection provided by Lloyd's for this enrollment period.</small>
	  </div>
	</div>
	
</div>