<div class="col-md-5">
    <div class="well-lg"> 
        <div class="row">
          <div class="col-sm-6 pull-right">
            <img src="{{ "client-logo.png" | asset_url }}" class="img-responsive">
          </div>
          <!-- <div class="col-sm-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptatibus temporibus harum doloribus incidunt fugit, possimus deleniti mollitia hic vitae sunt, pariatur ex dolore repellat cumque impedit dolorem velit tenetur.
          </div> -->
        </div>
    </div>
</div>