<div id="masthead">  

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-7">
          <a href="natle/index">
            <img src="{{ "logo.jpg" | asset_url }}" class="logo img-responsive">
          </a>
        </div>

        <!-- logo -->
        {% include "logo" %}
        
      </div> 

</div><!--/masthead-->