<nav class="navbar navbar-default navbar-fixed-top visible-xs" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/natle/index" class="hidden-xs navbar-brand"></a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="natle/index">Overview</a>
        </li>
        <li>
          <a href="natle/gap-calculator">Income Gap Calculator</a>
        </li>
        <li>
          <a href="natle/coverage-options">Your Coverage Options</a>
        </li>
        <li>
          <a href="natle/sample-policy">Sample Policy</a>
        </li>
        <li>
          <a href="natle/faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>