  <h2 id="sec0">Lloyd's Summary</h2>
  <p>
    You are eligible for a new benefit through State Bar Association which can protect your income and retirement funds in the event of an illness or accident that prevents you from working. This new plan is offered by Lloyd's of London, owned by you, and is available with <u>no health questions or exams</u> during this initial enrollment period for eligible State Bar Association members.
  </p>
  
  <hr>

  <p>
    If you currently have disability insurance, you may have a base level of protection. Depending on your personal situation, that may not be sufficient to maintain all aspects of lifestyle, future goals and retirement funds.
  </p>

  <p>
    The illustrative graph below is designed to help you consider the following:
  </p>
  
  <ol>
    <li>What coverage you currently have</li>
    <li>Determine whether your current coverage is sufficient or if you should consider the new Lloyd's Lump Sum Disability Protection Plan</li>
  </ol>

  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Your Compensation</h3></div>
        <div class="panel-body">
          Includes both salary and any other forms of compensation such as bonus/incentive pay, K-1 proceeds if shareholder, etc.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Current Coverage</h3></div>
        <div class="panel-body">
          NEW Disability Plan can provide a single lump sum of up to $2,000,000 to protect your income, retirement and lifestyle against the severe impact of a career-ending disability.
        </div>
      </div>
    </div>  
  </div>