<h2 id="sec3">FAQ</h2>

<p>
  This FAQ material is a summary of important policy provisions. It is not a contract or proposal. In all cases, the actual terms and provisions of the policy will govern.
</p>

<h3>Lump Sum Disability Income Protection</h3>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading active" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="faq-toggle">
            How does the Lump Sum Plan work?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          The purpose of the Lump Sum Plan is to provide you with up to an additional $2,000,000 of disability insurance benefits to help you maintain your standard of living – and that of your family – if you become disabled and unable to return to your occupation, and to enable you to continue contributions to your retirement programs. <u>Your occupation</u> does include your specialty of practice, if applicable.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How much can I purchase?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          $250,000, $500,000, $1,000,000, or $2,000,000 of lump sum benefits
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            When is the benefit payable?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          When you are Permanently and Totally Disabled, unable to return to your occupation (includes specialty of practice, if applicable) and the 12-month Elimination Period has been met.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What does “Permanently and Totally Disabled” mean?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          Permanent Total Disability means that if solely due to a Sickness or Injury, You are not able to perform the substantial and material duties of Your Occupation and in the opinion of Competent Medical Authority recovery from such disability is not expected, even if you are at work in another occupation.
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            How are claims determined?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <p>Permanent Total Disability must occur while this Certificate is in force and which is a result of a Sickness or Injury that is first diagnosed by a Physician while this Certificate is in force or if a Sickness or Injury is first diagnosed by a Physician while this Certificate is in force then you must be declared to be Permanently Totally Disabled within 365 days from the date of the first diagnosis if that occurs beyond the expiry date of the Certificate.</p>
          <p>To be eligible for the Principal Sum benefit, You must be under the Regular Care of a Physician.  If in the opinion of the Physician providing Regular Care, future or continued treatment would be of no benefit to You, Regular Care shall not be required.</p>
          <p>We reserve the right to have You examined by another Physician of Our choice. Should Your Physician and Our Physician not be able to agree that You are Permanently Totally Disabled, Your Physician and Our Physician shall name a third Physician to make a decision on the matter which shall be final and binding.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Will the monthly benefit be reduced or offset by payments I may receive from other disability insurance policies that I own?
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          <p>No</p>
        </div>
      </div>
    </div>
  </div>

<h3>Monthly Benefit Disability Income Protection</h3>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How does the Monthly Benefit Plan work?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>The purpose of the Lump Sum Plan is to provide you with up to an additional $25,000 per month of disability benefits to help you maintain your standard of living – and that of your family – if you become disabled and unable to return to your occupation.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How much can I purchase?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Your maximum eligible benefit will be calculated on the website based on your income and current disability coverage in-force.  As mentioned above, your benefit under this plan cannot exceed $25,000 per month.  You can also use the calculator to purchase a lower benefit amount based on your needs and budget.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            When is the benefit payable?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Benefits are payable if, due to an accident or illness, you are unable to perform your occupation (includes specialty of practice, if applicable) and have been disabled for 90 days.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Are benefits payable in the event I am only able to work part-time due to disability?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Yes.  The Monthly Benefit plan also includes a Residual Disability provision which will provide a partial benefit proportionate to your loss of income.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How are claims determined?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Subject to satisfactory written Proof of Loss and all applicable Claim Provisions, and upon determination that benefits are payable under the provisions of the Certificate, Insurer will pay all benefits due for disability and other specified losses for which Insurer is liable.</p>
          <p>Benefits will be payable at the end of each month after the period of liability has occurred while You are disabled, up to the specified maximum benefit period in your policy.</p>
          <p>Any amounts unpaid when Insurer liability ends will be paid to You immediately after satisfactory written Proof of Loss is received by Insurer.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Will the monthly benefit be reduced or offset by payments I may receive from other disability insurance policies that I own?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>No.  However, the aggregate maximum benefits cannot exceed 65% of your annual income in conjunction with other sources.  In the event your total monthly benefit, combined with other sources, does exceed 65% of the highest 12 consecutive months of income out of the prior 24 months, your benefit could be reduced and a pro-ration of unearned premium paid to-date would be refunded to you.</p>
        </div>
      </div>
    </div>
  </div>

<h3>Applicable to both Lump Sum Benefit Plan &amp; Monthly Benefit Plan</h3>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Should I replace any of my existing disability with this policy?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>No, the policy is designed to be used to supplement your existing coverage, not replace it.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Do I have to be a U.S. citizen to be eligible for this coverage?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>No.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            If I am disabled outside of the continental United States am I covered?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Yes, protection is worldwide, 24/7.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Who is the insurer?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Lloyd's of London. It's current financial ratings are:</p>
          <ul>
            <li>Standard and Poor's: A+ (Excellent)</li>
            <li>Fitch: AA- (Excellent)</li>
            <li>A.M. Best: A (Excellent)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How long are premiums and coverage guaranteed?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Five years.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            At the end of the five-year period is it possible that the premium schedule can be changed or that the insurance company will not renew the policy?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>The policy is written for a term of five years and premiums are guaranteed for that time. At the end of the term, the insurance company has the option to renew the policy and to adjust the rates based on age and plan experience.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Are benefits paid if the disability was caused by war, acts of foreign enemies, hostilities or warlike operations, civil war, rebellion, revolution, insurrection, uprising, or any act of terrorism provided that I was not taking an active part in them?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Yes, with the exception of nuclear, chemical, or biological terrorism.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           What conditions are not covered by the policy?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>If the loss is caused by, or the result of:</p>
          <ol>
            <li>Suicide or intentional self-inflicted Injury or poisoning</li>
            <li>Active participation in Terrorism or War</li>
            <li>Nuclear, biological or chemical exposure as a result of Terrorism or War</li>
            <li>While committing or attempting to commit a felony</li>
            <li>Mental and/or Psychiatric Disorders</li>
            <li>Taking of illegal drugs, or addiction or misuse of prescription or non-prescription drugs</li>
            <li>Alcohol abuse or addiction, being under the influence of alcohol, as defined by the vehicle code of the state or province in which the offense has occurred</li>
            <li>Pre-Existing Conditions (see next question for description)</li>
            <li>Pregnancy and pregnancy-related conditions including but not limited to fertility, pre-natal care, childbirth, miscarriage, abortion or postpartum conditions</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What is a pre-existing condition and how might it affect the coverage?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>A pre-existing condition is one for which (1) an insured received medical advice, or treatment was recommended or received from a physician during the three-month period before the effective date of your coverage, or (2) had symptoms that were present during this three-month period that would cause a reasonably prudent person to seek advice or treatment from a physician.</p>
          <p>The policy certificate does not provide benefits for a loss due to a pre-existing condition unless the loss begins more than one year after the effective date of your policy certificate, or the insurance company has agreed to cover it. After one complete year on the plan, these conditions can also be covered as any other disability.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            When will the insurance be effective?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>The effective date will be the date coverage is applied for and paid.  If the payment fails the coverage will not be effective.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What happens if I apply for coverage and then decide I don’t want it?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>You can return your certificate within ten days of receiving it and receive a full refund of your premium payment.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed faq-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Where can I view my premium rates and how do I enroll or decline coverage?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Enrolling is simple and takes a few minutes with no paper applications. Log onto our special website at <a href="https://app.piu.org/di/GTLA" target="_blank">https://app.piu.org/di/GTLA</a> to view your individual rates. Choose your benefit amount and follow the prompts through our three step enrollment process. If after viewing your cost options you decide not to participate, simply exit the site.</p>
        </div>
      </div>
    </div>

  </div>