<!--   <h2 id="sec0">Dear association member,</h2>
  <p>
    Most wage earners believe they have a 2% or less chance of being disabled for three months or more during their career, when in reality, the odds for an employee entering the workforce today are about 25%. For this reason, I encourage you to consider thoroughly your option to enroll in this income protection opportunity the State Bar Association has made available to you.
  </p>

  <p>
    On this site, you’ll find illustrative graphs to help you determine whether your current disability coverage is sufficient, as well as buttons to guide you through the simple enrollment process. Don’t hesitate to contact us, however,  if you need any additional information.
  </p>

  <p>
    Thank you, 
    <br><span>Kate Smith</span>
    <span>Executive Director, State Bar Association</span>
  </p> -->

  <h2 id="sec">Announcing an Exclusive New Benefit for <br>Eligible NATLE Members</h2>
  <p>
    As a primary source of income in your household, protecting your current and future earnings in the event of an illness or accident is essential – as it is the one asset which provides for everything else. As a NATLE member, you can now obtain a personal income protection policy, without health questions or providing financial statements, during our open enrollment window, open now through June 12.
  </p>

  <p>
    Please take a moment to review your personal cost/benefit options and record your election, whether you decide to enroll or opt-out.  On this site, you can also review sample policies and FAQs for both the Monthly benefit policy and the Lump Sum benefit policies.  Should you have any questions, simply click the email link or call <span class="blue">888-888-8888</span> to speak directly with a service consultant.  Thank you in advance for your response to this valuable new membership benefit!
  </p>

  <h4 class="no-margin">Director Name</h4>
  <h5 class="italic no-margin">Director Title</h5>