  <h2 id="sec0">Dear association member,</h2>
  <p>
    Most wage earners believe they have a 2% or less chance of being disabled for three months or more during their career, when in reality, the odds for an employee entering the workforce today are about 25%. For this reason, I encourage you to consider thoroughly your option to enroll in this income protection opportunity the State Bar Association has made available to you.
  </p>

  <p>
    On this site, you’ll find illustrative graphs to help you determine whether your current disability coverage is sufficient, as well as buttons to guide you through the simple enrollment process. Don’t hesitate to contact us, however,  if you need any additional information.
  </p>

  <p>
    Thank you, 
    <br><span>Kate Smith</span>
    <span>Executive Director, State Bar Association</span>
  </p>