<div class="col-md-3" id="leftCol">
  <!--left-->
  <div class="col-md-3" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
      <li><a href="#sec0">Summary</a></li>
      <li><a href="#sec1">Did you know?</a></li>
      <li><a href="#sec2">Sample Policy</a></li>
      <li><a href="#sec3">FAQ</a></li>
    </ul>
  </div>
</div>