<div class="col-md-3 hidden-xs" id="leftCol">
  <!--left-->
  <div class="col-md-12" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
      <li {% if mixture.url == "index" %}class="active"{% endif %}>
        <a href="index">Overview</a>
      </li>
      <li {% if mixture.url == "gap-calculator" %}class="active"{% endif %}>
        <a href="gap-calculator">Income Gap Calculator</a>
      </li>
      <li {% if mixture.url == "coverage-options" %}class="active"{% endif %}>
        <a href="coverage-options">Your Coverage Options</a>
      </li>
      <li {% if mixture.url == "sample-policy" %}class="active"{% endif %}>
        <a href="sample-policy">Sample Policy</a>
      </li>
      <li {% if mixture.url == "faq" %}class="active"{% endif %}>
        <a href="faq">FAQ</a>
      </li>
      <li>
        <a href="#">Enroll Now</a>
      </li>
    </ul>

    <!-- <div style="margin-bottom:25px;"></div>
    
    <div class="col-md-12" id="sidebarEnrollContainer">

      <p class="text-center">Ready to Decide?</p>
      <hr>
      <div class="col-md-12"><button id="enroll-sidebar" name="singlebutton" class="btn btn-block btn-lg btn-success btn-sidebar" style="margin-bottom:15px;">Enroll Now</button></div>
      
      <div class="col-md-12"><button id="waive-sidebar" name="singlebutton" class="btn btn-block btn-lg btn-danger btn-sidebar">Waive Coverage</button></div>
    </div>
 -->
    
  </div>
</div>