<div class="col-md-3" id="leftCol">
  <!-- <ul class="nav nav-stacked" id="sidebar">
    <li><a href="#"></a></li>
    <li><a href="#">No Thanks</a></li>
  </ul> -->

  <div class="nav nav-stacked" id="sidebar">
  	<button type="button" class="btn btn-primary btn-lg btn-block">Learn More</button>
  	<button type="button" class="btn btn-danger btn-lg btn-block">No Thanks</button>
  	<small>By clicking "No Thanks" you are waiving the new Lloyd's Disability Income Protection Plan</small>
  </div>
</div>