<div class="col-md-3 hidden-xs" id="leftCol">
  <!--left-->
  <div class="col-md-12" id="leftCol">
  
    <ul class="nav nav-stacked" id="sidebar">
      <li>
        <a href="#sec0">Natle</a>
      </li>
      <li>
        <a href="#sec1">Other Client</a>
      </li>
    </ul>
    
  </div>
</div>