{% block content %}

	<!--main-->
	<div class="container">
		<div class="row">

			<div class="col xs-12">
				<p><a href="#">Login to Umbraco</a></p>
			</div>
	      
			<table id="clientTable" class="table demo metro-blue">
				<thead>
					<tr class="visible-lg">
						<th colspan="7"></th>
						<th colspan="2" class="text-center">
							Enrollment Statistics
						</th>
					</tr>
					<tr class="visible-sm visible-md">
						<th colspan="2"></th>
						<th colspan="2" class="text-center">
							Enrollment Statistics
						</th>
					</tr>
					<tr>
           <th data-sort-initial="true">
               Client
           </th>
						<th data-type="numeric" data-hide="phone,tablet">
							Overview
						</th>
						<th data-type="numeric" data-hide="phone,tablet">
							Calculator
						</th>
						<th data-type="numeric" data-hide="phone,tablet">
							Coverage Options
						</th>
						<th data-type="numeric" data-hide="phone,tablet">
							Sample Policy
						</th>
						<th data-type="numeric" data-hide="phone,tablet">
							FAQ
						</th>
						<th data-type="numeric" data-hide="phone">
							Total Views
						</th>
						<th data-type="numeric" data-hide="">
							Yes (%)
						</th>
						<th data-type="numeric" data-hide="">
							No (%)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
            <td>Natle</td>
						<td>483</td>
						<td>417</td>
						<td>428</td>
						<td>285</td>
						<td>128</td>
						<td>1826</td>
						<td>23%</td>
						<td>5%</td>
					</tr>
					<tr>
            <td>Iconologic</td>
						<td>189</td>
						<td>234</td>
						<td>785</td>
						<td>345</td>
						<td>951</td>
						<td>5641</td>
						<td>17%</td>
						<td>8%</td>
					</tr>
					<tr>
            <td>Sangaria</td>
						<td>683</td>
						<td>557</td>
						<td>438</td>
						<td>175</td>
						<td>198</td>
						<td>2326</td>
						<td>18%</td>
						<td>10%</td>
					</tr>
				</tbody>
			</table> 

	  </div><!--/row-->
	</div><!--/container-->


					



{% endblock %}